@import "tailwindcss";

@layer utilities {
  .custom-focus {
    @apply focus:outline-4 focus:outline-offset-2 focus:outline-red-500;
  }
}

html {
  scroll-behavior: smooth;
  font-size: calc(16px * var(--scale, 2));
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

body.contrast .functions-bar {
  background-color: #000000 !important;
}

body.contrast .navbar,
body.contrast .footer {
  background-color: #1a1a1a!important;
}

html.contrast,
body.contrast {
  background-color: #262626!important;
  color: #fff !important;
}

body.contrast a,
body.contrast span,
body.contrast h4 {
  color: #ffff00 !important;
}

body.contrast img {
  filter: invert(100%) brightness(150%);
}

body.contrast .back-to-top,
body.contrast .back-to-top span {
  background-color: #ffff00 !important;
  color: #000000 !important;
}

body.contrast .back-to-top img {
  filter: none !important;
}

body.contrast .send-button,
body.contrast .send-button span {
  background-color: #ffff00 !important;
  color: #000000 !important;
}

body.contrast .send-button img {
  filter: none !important;
}

body.contrast #module img {
  filter: none !important;
}